/* --------------------
    Colors
-------------------- */

:root {
    --primary-text: #333;
    --secondary-text: #777;
    --primary: #f1f1f1;
    --secondary: #fff;
    --accent: #007bff;
}

/* --------------------
    Font
-------------------- */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-text);
}

h1, h2{
    font-family: 'Open Sans', sans-serif;
}
 

h3, h4, h5, h6 {
    margin-top: 0;
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

p {
    margin-top: 0;
}

/* --------------------
    Navbar
-------------------- */

.navbar {
    background-color: var(--primary);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-weight: bold;
    color: var(--accent);
}

.nav-link {
    color: var(--primary-text);
}

.nav-link:hover, .nav-link:focus {
    color: var(--secondary-text);
}

/* --------------------
    Header
-------------------- */

.header {
    background-image: url('https://cdn.pixabay.com/photo/2016/08/26/14/52/desktop-1626075_960_720.jpg');
    background-size: cover;
    background-position: center;
    padding: 5rem;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin-bottom: 1rem;
    color: var(--primary-text);
}

.header p {
    font-size: 18px;
    color: var(--secondary-text);
}

.header img {
    border: 3px solid white;
    border-radius: 50%;
}

/* --------------------
    About
-------------------- */

.about-me{
    margin-top: 3rem;
    padding: 1rem;
    border: 2px solid var(--accent);
    border-radius: 5px;
    background-color: var(--secondary);
    color: var(--primary-text);
  }
  .about-me h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-text);
  }
  .about-me p {
    margin-bottom: 1rem;
    font-size: 18px;
    line-height: 1.5;
    color: var(--secondary-text);
  }
  

/* --------------------
    Skills
-------------------- */

.skills {
    background-color: var(--secondary);
    padding: 3rem;
    text-align: center;
}

.skills h2 {
    margin-bottom: 2rem;
    color: var(--primary-text);
}

.skills ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.skills li {
    margin-bottom: 1rem;
    color: var(--secondary-text);
}

.skills i {
    font-size: 24px;
    margin-right: 0.5rem;
    color: var(--accent);
}

/* --------------------
    Projects
-------------------- */

.projects {
    background-color: var(--primary);
    padding: 3rem;
}

.projects h2 {
    margin-bottom: 2rem;
    color: var(--primary-text);
}

.project {
    margin-bottom: 3rem;
}

.project h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--primary-text);
}

.project p {
    margin-bottom: 1rem;
    color: var(--secondary-text);
}

.project a {
    color: var(--accent);
}

.project a:hover {
    text-decoration: none;
}

/* --------------------
    Detail Page
-------------------- */

.detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 20px;
    background-color: var(--secondary);
    border: 2px solid var(--accent);
    border-radius: 10px;
  }
  
  .detail-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--primary-text);
  }
  
  .detail-image {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  .detail-description {
    font-size: 18px;
    line-height: 1.5;
    color: var(--secondary-text);
  }
  
  .detail-link {
    margin-top: 20px;
  }
  
  .detail-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--secondary);
    border-radius: 5px;
    text-decoration: none;
  }
  
  .detail-link a:hover {
    background-color: var(--secondary-text);
  }