<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Portfolio</title>
        <meta name="description" content="A portfolio of my work">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
      {% include 'navigation.html' %}
        <section class="header">
            <h1>Maximilian Hill</h1>
            <p>Currently looking for analytics orintend career in finance or sports.</p>
            <img src= "/Users/Caramelthekid/Desktop/Documents/Code/Techdegree-Project-5/IMG_2360.JPG" alt="Headshot of myself">
        </section>
        <section id="about-page">
            <div id="triangle7"></div>
            <div id="triangle8"></div>
            <h2>About Me</h2>
            <p>
                Soufflé cupcake cupcake. 
                Brownie chocolate cake gingerbread candy carrot cake sesame snaps cookie cake. 
                Bear claw pastry candy canes tart cookie caramels cotton candy caramels sweet roll. 
                Bonbon tootsie roll gummi bears sugar plum pie croissant. 
                Muffin sweet roll bonbon. 
                Carrot cake gummies cheesecake. 
                Gummi bears powder apple pie. 
                Topping cake powder. 
                Pastry chupa chups caramels.
            </p>
            <p>
                Soufflé cupcake cupcake. 
                Brownie chocolate cake gingerbread candy carrot cake sesame snaps cookie cake. 
                Bear claw pastry candy canes tart cookie caramels cotton candy caramels sweet roll. 
                Bonbon tootsie roll gummi bears sugar plum pie croissant. 
                Muffin sweet roll bonbon. 
                Carrot cake gummies cheesecake. 
                Gummi bears powder apple pie. 
                Topping cake powder. 
                Pastry chupa chups caramels.
            </p>
            <a href="#"><i class="far fa-file"></i>Resume</a>
        </section>
        {% include 'socials.html' %}
        